.rightsideheader {
    display: flex;
    justify-content: space-between;
    padding-bottom: 36px;
    .tools {
        display: flex;
        .tools-item {
            margin-left: 15px;
        }
    }
    .cashier {
        display: flex;
        align-items: center;
        background: #ffca2a 0% 0% no-repeat padding-box;
        border-radius: 21px;
        border: none;
        img {
            padding-right: 5px;
        }
    }
}
