.pre-header {
    margin-top: -20px;
    display: flex;
    justify-content: space-between;
    .pre-hed-left {
        span {
            color: white;
        }
        .line-dot {
            display: flex;
            align-items: center;
            padding-top: 10px;
            .line {
                width: 77px;
                height: 4px;
                background: #95c7ee;
                border-radius: 4px;
                opacity: 1;
            }
            .dot {
                width: 6px;
                height: 6px;
                background: #6ff27b 0% 0% no-repeat padding-box;
                opacity: 1;
                border-radius: 50%;
                margin-left: 5px;
            }
        }
    }
    .pre-hed-righ {
        display: flex;
        align-items: center;
        margin-top: -10px;
        button {
            margin-right: 40px;
            background: #ffe926 0% 0% no-repeat padding-box;
            border-radius: 19px;
            opacity: 1;
            margin-bottom: 20px;
            border: none;
        }
        h1 {
            color: #ffffff;
            font-weight: bold;
            font-size: 40px;
            span {
                font-size: 15px;
            }
        }
    }
}

.pre-body {
    display: flex;
    justify-content: space-evenly;

    .card-1 {
        width: 223px;
        height: 133px;
        border: 2px solid #56bec9;
        border-radius: 10px;
        opacity: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .x5 {
            font-size: 60px;
            color: white;
        }
        .coef {
            color: #ffffff;
            background-color: #008b9e;
            margin-top: 64px;
            position: absolute;
            padding: 0px 15px;
        }
    }
    .card-2 {
        width: 223px;
        height: 133px;
        border: 2px solid #56bec9;
        border-radius: 10px;
        opacity: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .coef {
            color: #ffffff;
            background-color: #008b9e;
            margin-top: 66px;
            padding: 0px 15px;
            position: absolute;
        }
    }
}
.user-list {
    display: flex;
    justify-content: space-evenly;
    width: 430px;
    position: relative;
    left: -36px;
    top: 60px;
}
.preModal {
    .ant-modal-content {
        background-color: #008b9e;
        border-radius: 10px;
        width: 600px;
        height: 333px;
        margin-top: 15%;
        margin-left: -142%;
    }
}
