.coefficient {
    width: 62px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #323341 0% 0% no-repeat padding-box;
    border-radius: 15px;
    opacity: 1;
    text-align: left;
    font-size: 15px;
    letter-spacing: 0px;
    color: #ffd919;
}
.win_amount {
    width: 73px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #5f39b7 0% 0% no-repeat padding-box;
    border-radius: 15px;
    text-align: left;
    font-size: 15px;
    letter-spacing: 0px;
    color: #ffd919;
}
.ant-table-thead > tr > th {
    background: #2b2e3a;
    // border-radius: 5px;
    opacity: 1;
    color: #b5b7be;
}
.ant-table-tbody > tr > td {
    border-bottom: 1px solid;
}
tr:nth-child(odd) {
    background: #252630;
}

tr:nth-child(even) {
    background: #272936;
}

.cl-wh{
    color: white;
}