.right-side {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    .r-side-card {
        width: 447px;
        height: 377px;
        background: #241e36;
        box-shadow: 0px 0px 40px #00000096;
        border-radius: 10px;
        opacity: 1;
        border: none;
        color: white;
        text-align: center;
        .c1 {
            margin-top: 30px;
            img {
                margin-bottom: 10px;
            }
        }
        .c2 {
            display: flex;
            justify-content: flex-end;
            margin-top: 45px;
        }
    }
    .wined-am {
        height: 88px;
        background: #201a31 0% 0% no-repeat padding-box;
        border-radius: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 15px;
        .wined-gel {
            font-size: 23px;
            color: #ffff00;
            font-weight: bold;
            span {
                font-size: 15px;
            }
        }
    }
    .close-btn {
        background: #2f2847 0% 0% no-repeat padding-box;
        color: white;
        border-radius: 5px;
        border: none;
        width: 135px;
        height: 62px;
    }
}
