.ant-modal-header {
    border-bottom: none !important;
}

.ant-table-thead > tr > th {
    border-bottom: none !important;
    background-color: #35364a;
}

.history-table {
    tr:nth-child(even) {
        background: #444563 0% 0% no-repeat padding-box;
        border-radius: 5px;
        opacity: 1;
        color: white;
    }
    tr:nth-child(odd) {
        background: #444563 0% 0% no-repeat padding-box;
        border-radius: 5px;
        opacity: 1;
        color: white;
        border-radius: 4px;
    }
    .ant-table-tbody > tr > td {
        border-bottom: 1px solid #35364a !important;
    }
}
.users-t {
    display: flex;
    align-items: baseline;
    img {
        margin-right: 5px;
    }
}
