.pre-header {
    margin-top: -20px;
    display: flex;
    justify-content: space-between;
    .pre-hed-left {
        span {
            color: white;
        }
        .line-dot {
            display: flex;
            align-items: center;
            padding-top: 10px;
            .line {
                width: 77px;
                height: 4px;
                background: #95c7ee;
                border-radius: 4px;
                opacity: 1;
            }
            .dot {
                width: 6px;
                height: 6px;
                background: #6ff27b 0% 0% no-repeat padding-box;
                opacity: 1;
                border-radius: 50%;
                margin-left: 5px;
            }
        }
    }
    .pre-hed-righ {
        display: flex;
        align-items: center;
        margin-top: -10px;
        button {
            margin-right: 40px;
            background: #ffe926 0% 0% no-repeat padding-box;
            border-radius: 19px;
            opacity: 1;
            margin-bottom: 20px;
            border: none;
        }
        h1 {
            color: #ffffff;
            font-weight: bold;
            font-size: 40px;
            span {
                font-size: 15px;
            }
        }
    }
}

.pre-body {
    display: flex;
    flex-wrap: wrap;
    color: white;
    h2 {
        color: white;
    }
    .user-list {
        display: flex;
        justify-content: space-around;
        width: 100%;
        position: initial;
        padding: 10px 0px;
    }
    .progress {
        width: 314px;
        height: 3px;
        background: #26c6df 0% 0% no-repeat padding-box;
        border-radius: 6px;
        opacity: 1;
        .bar {
            width: 58px;
            height: 3px;
            background: #17ff4d 0% 0% no-repeat padding-box;
            border-radius: 6px;
            opacity: 1;
            margin-left: 71%;
        }
    }
    .loading {
        padding: 10px 0px;
    }
}

.preModal {
    .ant-modal-content {
        background-color: #008b9e;
        border-radius: 10px;
        width: 600px;
        height: 333px;
        margin-top: 15%;
        margin-left: -142%;
    }
}
