.top-card {
    background-color: #3f2e4a;
    margin-bottom: 15px;
    border: none;
    color: white;
    border-radius: 5px;
    .history-btn-area {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 15px;
        .history-btn {
            width: 118px;
            height: 35px;
            border: 1px solid #60667e;
            border-radius: 18px;
            background: border-box;
            color: #c5d8f9;
        }
    }

    .top-card-body {
        display: grid;
        text-align: center;
        justify-content: center;
        h2 {
            color: white;
            margin-top: 15px;
        }
        .cent-logo-body {
            display: grid;
            justify-content: center;
            .cent-logo {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 127px;
                height: 127px;
                background: #7100b1;
                border: 9px solid #b600f8;
                border-radius: 50%;
            }
        }

        .balance {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 290px;
            height: 48px;
            background: #6e717e;
            border-radius: 27px;
            opacity: 1;
        }
        .free-spin {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 290px;
            height: 48px;
            background: #217c8b;
            border-radius: 27px;
            opacity: 1;
            margin-top: 15px;
        }
    }
}

.bottom-card {
    background-color: #35364a;
    border: none;
    color: white;
    border-radius: 5px;

    .sub-card {
        background-color: #444563;
        border: none;
        color: white;
        border-radius: 5px;
        margin-bottom: 15px;
        .sub-card-head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: -15px;
            h2 {
                letter-spacing: 0px;
                color: #39b7ff;
            }
            h2 span {
                font-size: 12px;
            }
            h3 {
                display: flex;
                align-items: center;
                color: #ffffff;
            }
            h3 img {
                margin-right: 10px;
            }
        }
        .sub-card-body {
            display: flex;
            align-items: center;
            padding-bottom: 10px;
            span {
                margin-left: 15px;
            }
        }
        .sub-card-footer {
            span {
                color: #d2efff;
            }
        }
    }
}

.ant-modal-content {
    box-shadow: 0px 0px 40px #00000096;
}
.ant-modal-confirm-btns {
    button {
        width: 125px;
        height: 52px;
        background: #2dbfb5 !important;
        border-radius: 5px;
        opacity: 1;
        border: none;
        // margin-top: 8px;
    }
}
.ant-modal-header {
    background: #35364a 0% 0% no-repeat padding-box;
}
