.card-list {
    display: flex;
    flex-flow: wrap;
}

.tab1 {
    .ant-tabs-nav {
        background: #3d2f60 0% 0% no-repeat padding-box;
        border-radius: 5px;
        opacity: 1;
        color: white;
        padding: 0px 30px;
    }
    .ant-tabs-nav::before {
        display: none;
    }
}

.table {
    margin-top: 15px;
}

.anticon-info-circle {
    display: none;
}
