.leftside {
    background-color: #241e36;
    height: 100vh;
    padding: 50px 30px;
    h1 {
        color: white;
        font-size: 50px;
        font-weight: bold;
    }
    h1 span {
        font-size: 20px;
    }
}
