.game-list-geader {
    display: flex;
    padding-bottom: 15px;
    .jeckpot-counter {
        margin-left: 17%;
        .jeckpot-counter-body {
            display: flex;
            .counter-item {
                background: #505081 0% 0% no-repeat padding-box;
                border-radius: 3px;
                opacity: 1;
                color: white;
                width: 27px;
                height: 34px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 4px;
                align-self: flex-end;
            }
            .counter-dot {
                display: flex;
                align-self: flex-end;
                width: 5px;
                height: 5px;
                background: #505081 0% 0% no-repeat padding-box;
                border-radius: 50%;
                margin-left: 4px;
            }
            .counter-sub-item {
                width: 23px;
                height: 29px;
                background: #40406d 0% 0% no-repeat padding-box;
                border-radius: 3px;
                opacity: 1;
                color: #9aaacf;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 4px;
                align-self: flex-end;
            }
        }
        .jeckpot-counter-footer {
            color: #98aac2;
            margin-left: 14px;
            opacity: 1;
            padding-top: 5px;
        }
    }
}
