.left-side {
    .left-side-card {
        height: 262px;
        background: #5834ac;
        border-radius: 10px;
        border: none;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        color: white;
    }

    .title {
        margin-top: 33px;
        margin-bottom: 33px;
        color: white;
        text-align: center;
    }

    .coin-card {
        height: 81px;
        background: #352d4b;
        border-radius: 41px;
        display: flex;
        padding: 0px 12px;
        margin-bottom: 15px;
        .coin-card-body {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            .side-group {
                display: flex;
                align-items: center;
            }
            .counter {
                width: 63px;
                height: 63px;
                background: #3f365a;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
            }
            .user-info {
                display: flex;
                color: white;
                flex-direction: column;
                margin-left: 15px;
                margin-top: 18px;
                .user-info-span {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                }
                h2 {
                    color: #39b7ff;
                }
            }

            .right-side {
                display: flex;
                flex-flow: column;
                align-items: center;
                color: #c3dae8;
                margin-right: 15px;
                #rs-1 {
                    font-size: 20px;
                }
            }
        }
    }
}
.active {
    background-color: #5834ac !important;
}
.yellow {
    background-color: #FFCA2A !important;
    color: black !important;
}
.yellow-text {
    color: #FFFF00 !important;
}
