.registration-card {
    width: 301px;
    height: 341px;
    border-radius: 10px;
    background-color: #6140af;
    border: 3px solid;
    .card-header {
        color: white;
        .line-dot {
            display: flex;
            justify-content: end;
            align-items: center;
            .header-line {
                width: 78px;
                height: 4px;
                background: #95c7ee 0% 0% no-repeat padding-box;
                border-radius: 4px;
                opacity: 1;
            }
            .header-dot {
                width: 6px;
                height: 6px;
                background: #6ff27b 0% 0% no-repeat padding-box;
                opacity: 1;
                border-radius: 4px;
                margin-left: 5px;
            }
        }
    }

    .card-money {
        display: grid;
        justify-content: end;
        text-align: left;
        letter-spacing: 0px;
        color: #ffffff;
        opacity: 1;
        margin-right: 15px;
        .card-money-h2 {
            color: white;
            font-size: 50px;
            span {
                font-size: 22px;
            }
        }
    }
    .max-mem {
        margin-top: -30px;
        margin-left: 14px;
    }
    .user-avatas {
        display: flex;
        justify-content: space-evenly;
        padding: 15px;
    }
    .card-buttons {
        display: grid;
    }

    .gel-btn {
        background: #ffe926 0% 0% no-repeat padding-box;
        border-radius: 19px;
        opacity: 1;
    }
    .registration-btn {
        background: #764ed4 0% 0%;
        border-radius: 5px;
        opacity: 1;
        border: none;
        height: 62px;
        color: white;
    }
}
